<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC6xTwdqgz3yQdICaPpdBj-GqPlc3aLd9ojw&usqp=CAU" alt="" height="200px" />
  </div>
  <div class="big-card__tittle">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
        vitae deleniti eius facere vero culpa sint eveniet magni recusandae
        perspiciatis exercitationem explicabo quo iure sapiente temporibus quos.
        Inventore, veniam delectus.
      </a>
    </p>
  </div>
</div>
